.userContainer {
  width: 35%;
  margin: auto;
  margin-top: 5em;
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1em;
}

.content {
  margin-top: 9em;
}

.content h3 {
  margin-bottom: 2em;
}

.booking-details {
  width: 60%;
  margin: auto;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1.5em;
  margin-top: 2em;
  text-transform: capitalize;
}

.header h5 {
  text-transform: capitalize;
  margin: 0;
  padding-top: 8px;
  padding-right: 1em;
}

.back-btn {
  margin: 2em 0;
}

.booking-form h3 {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
}

.booking-form .form-group label {
  font-size: 1.2rem;
  font-weight: 500;
}

.booking-form {
  width: 65%;
  margin: auto;
}